@use './_mixins';
@use './_colors';
@use './layout';
@use './typography';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-size: 68.75%; // 1rem = 11px
  
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  color: var(--fg);
  background-color: var(--bg);
  border: var(--bg);
  font-family: 'Lato-Regular', sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  overflow-x: hidden;
  @include mixins.unselectable;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: colors.$hyperlink-color;
}

a:active {
  color: colors.$hyperlink-active-color;
}
