@use "sass:color";

:root {
    --bg: #ffffff;
    --fg: #000000;
    --dialog-red: #b91c1c;
    --dialog-purple: #6d28d9;
    --dialog-purple-hover: #4c1d95;
}

:root.dark {
    --bg: #121212;
    --fg: #ffffff;
}

$hyperlink-active-color: rgba(color.scale(blue, $lightness: 30%), 0.8);
$hyperlink-color: rgba(color.scale(blue, $lightness: 20%), 1);
