@use 'sass:color';

$primary-text-color: #333333;
$background-color: #f5f5f5;
$gray-text-color: #666666;

$hyperlink-active-color: rgba(color.scale(blue, $lightness: 30%), 0.8);
$hyperlink-color: rgba(color.scale(blue, $lightness: 20%), 1);