@use "sass:color";

:root {
    --bg: #ffffff;
    --fg: #000000;
}

:root.dark {
    --bg: #121212;
    --fg: #ffffff;
}

$hyperlink-active-color: rgba(color.scale(blue, $lightness: 30%), 0.8);
$hyperlink-color: rgba(color.scale(blue, $lightness: 20%), 1);
