.use-superscript {
  font-size: 1rem;
  vertical-align: super;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.font-large {
    font-size: 2rem;
}


.print-view {
    font-size: 1.2rem !important;

    & .font-large {
        font-size: 1.4rem;
    }
}

