.use-superscript {
  font-size: 1rem;
  vertical-align: super;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.font-small {
    font-size: 1.1rem;
}

.font-large {
    font-size: 2rem;
}

.font-super-large {
    font-size: 6rem;
}


.print-view {
    font-size: 1.4rem !important;

    & .font-large {
        font-size: 1.6rem;
    }

    & .font-super-large {
        font-size: 3rem;
    }

    & .race-details.horizontal-rule {
        margin-bottom: 0;
        transform: translateY(-0.1rem);
    }

    & .race-details-panel.print {
        padding-bottom: 0.25rem;
    }

    & .horse-panel.print.panel {
        padding-top: 0.5rem !important;
    }

    & .horse .horizontal-rule {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
        transform: translateY(0);
    }
}

.horizontal-rule {
    border-top: 2px solid var(--fg);
    width: 100%;
    margin-bottom: 0.5rem;
    transform: translateY(-1rem);
}
